@import './dist/_var.scss';

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLt.ttf") format("truetype");
}

@font-face {
  font-family: "Roslindale Display Condensed";
  src: url("../fonts/RoslindaleDisplayCondensed-Light.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: $cream;
  color: $black;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: 'Roslindale Display Condensed', serif;
  font-size: $font-xxl;
  margin: 0;
}

h3 {
  font-size: $font-l;
  line-height: $font-l;
}

p {
  font-size: $font-m;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  padding: 0 50px;
  margin-top: 75px;
}

.btn {
  border: 1px solid $orange;
  border-radius: $radius;
  padding: 1.25rem 2.5rem;
  font-size: $font-btn;
  &--primary {
    background-color: transparent;
    color: $black;
  }
  &--secondary {
    background-color: $orange;
    color: $cream;
  }
  &__img {
    margin-left: .25rem;
    &--vert {
      height: 12px;
    }
    &--horz {
      width: 12px;
    }
  }
}

.header {
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  &__logo {
    height: 1.75rem;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    &__link {
      font-size: $font-m;
      font-weight: 400;
      color: $grey;
      margin-right: calc(3rem - 15px);
      display: inline;
      transition: .3s ease;
      &:hover {
        opacity: .75;
        transition: .3s ease;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__item {
      margin: 0 15px;
      transition: .3s ease;
      img {
        width: 1rem;
        height: 1rem;
      }
      &:hover {
        opacity: .75;
        transition: .3s ease;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  padding: .5rem;
  border-radius: $radius;
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 .5rem;
  }
  &__item {
    margin: 0 .5rem;
    font-size: $font-btn;
    a {
      color: $black;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    text-align: center;
    max-width: 50vw;
    padding-bottom: 3rem;
  }
  &__img {
    padding-top: 3rem;
    width: 100%;
  }
}

.observations {
  padding: 200px 3rem;
  span {
    margin-right: 2rem;
  }
  &__texts {
    position: relative;
  }
  &__title {
    width: 100%;
  }
  &__text {
    position: relative;
    width: 75%;
    text-align: right;
    right: 0;
  }
}