@import './dist/_var.scss';

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roslindale Display Condensed";
  src: url("../fonts/Roslindale-DisplayCondensed.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: $cream;
  color: $black;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: 'Roslindale Display Condensed', serif;
  font-size: $font-xl;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid $orange;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  font-size: $font-btn;
}

.btn--primary {
  background-color: transparent;
  color: $black;
}

.btn--secondary {
  background-color: $orange;
  color: $white;
}

.menu {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  padding: .5rem;
  border-radius: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}